<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Sales\Model\Order\Payment\State\OrderCommand">
        <plugin name="paysecure-order-status" type="PaySecure\Payments\Plugin\OrderStatus" sortOrder="1" disabled="false" />
    </type>
    <preference for="PaySecure\Payments\Api\LockHelperInterface" type="PaySecure\Payments\Helper\LockHelper"/>
</config>
